/* .col-3 {
    flex: 0 0 auto;
    width: 20% !important;
    padding-bottom: 3%;
} */

.modal-dialog{

    width: 100% !important;
    height: 400px !important;
    max-width: none !important;
    margin-top: 10% !important;
}

.monBr{
    border: 3px solid rgb(204, 146, 60);
    border-radius: 10px;
}

.block-imag{
    height: 230px !important;
    width: 100% !important;
    object-fit: contain !important;
}

.ima{
    height: 100% !important;
    width: 100% !important;
    /* object-fit: cover; */
    object-fit: contain !important;
}

.block-imag:hover{
    transform: scale(1.09) !important;
}


.block figure img {
	-webkit-transform: scale(1) !important;
	transform: scale(1) !important;
	-webkit-transition: .3s ease-in-out !important;
	transition: .3s ease-in-out !important;
}
.block figure:hover img {
	-webkit-transform: scale(1.1) !important;
	transform: scale(1.1) !important;
}

.milieu{
    text-align: center !important;
    margin: 15px 0 !important;
}


.modal-content{
    margin-left: 20% !important;
    height: auto !important;
    width: 60% !important;
}

.modal-header{
    margin-top: 50px !important;
    margin-bottom: 100px !important;
}

.modal-title{
    text-align: center !important;
    font-size: 40px !important;
}

.entete{
    font-size: 40px !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}