.modal-dialog{

    width: 900px !important;
    height: 400px !important;
    max-width: none !important;
}

.milieu{
    text-align: center !important;
    margin: 15px 0 !important;
}

.formulaire{
    text-align: center !important;
    padding-left: 140px !important;
}

.entete{
    font-size: 30px !important;
    padding-right: 90px !important;
    font-family: monospace;
}

.enregistrer{
    background-color: rgb(25, 74, 138) !important;
}

.stable{
    object-fit: contain !important;
}

.forme{
    font-size: 6px !important;
}
